body{





margin:0;
















 background-image:url("dark.jpg");







}
















#eyad12{

 
background-image: url("123.png");


background-size: cover;

font-size: 50px;

-webkit-text-fill-color:transparent;

-webkit-background-clip:text;

}












#img111{


	width: 600px;

margin-top:100px;

border: 5px solid darkblue;


border-radius: 100%;








}


#eyad55{

	color: rgb(4, 34, 51);



}









#eyadgg{

color: white;

line-height: 1.8;


}







#gghh{


color: red;

font-size: 49px;
}


@media(max-width:600px){

	#gghh{


color: blue;

font-size: 30px;
}

#img111{


	width: 500px;

margin-top:100px;

border: 5px solid darkblue;


border-radius: 100%;


}







